<!doctype html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="base::header">
    <title>List</title>

</head>
<body>
<div th:replace="base::nav"></div>
<!--All CRUD operations in one form-->
<div class="container-float">
    <div class="jumbotron lead">
        <h2 class="text-center"> Course List</h2>
    </div>
    <div th:text="${message}"></div>

    <form action="#" method="post" th:action="@{/check}">
        <span sec:authorize="isAuthenticated()">
            <button class="btn btn-link" type="submit">Delete Selected</button>
        </span>

        <table class="table table-striped" style="width:100%">
            <tr>
                <th sec:authorize="isAuthenticated()">Select</th>
                <th sec:authorize="hasAuthority('ADMIN')">User</th>
                <th>Title</th>
                <th>Instructor</th>
                <th>Credits</th>
                <th>Picture</th>
                <th sec:authorize="isAuthenticated()">Actions</th>
            </tr>
            <!--enhanced for loop-->
            <tr th:each="course : ${courses}">
                <td sec:authorize="isAuthenticated()">
                    <input name="check" th:value="${course.id}" type="checkbox"/>
                </td>
                <td sec:authorize="hasAuthority('ADMIN')" th:text="${course.user.username}"></td>
                <td><a th:href="@{/detail/{id}(id=${course.id})}">[[${course.title}]]</a><!-- Read --></td>
                <td th:text="${course.instructor}"></td>
                <td th:text="${course.credit}"></td>
                <td><img alt="Picture" th:src="${course.picturePath}"></td>
                <td sec:authorize="isAuthenticated()">
                    <!--<span th:if="${user_id == course.user.id}">
                    </span>-->
                    <a th:href="@{/update/{id}(id=${course.id})}">Edit</a> -
                    <a class="delBtn"
                       data-target="#myModal"
                       data-toggle="modal"
                       th:href="@{/delete/{id}(id=${course.id})}">Delete</a>
                </td>
            </tr>
        </table>
    </form>

    <ul class="nav nav-pills" th:if="${courses.totalPages} &gt; 0"><!--totalPages>0-->
        <li class="nav-item"
            th:each="i : ${#numbers.sequence(0,courses.totalPages-1)}">
            <div th:if="${searchString}==null">
                <a class="nav-link" th:classappend="${currentPage}==${i}?'active':''"
                   th:href="@{/(page=${i})}"
                   th:text="${i + 1}"></a>
            </div>
            <div th:unless="${searchString}==null">
                <a class="nav-link" th:classappend="${currentPage}==${i}?'active':''"
                   th:href="@{/search(search=${searchString},page=${i})}"
                   th:text="${i + 1}"></a>
            </div>
        </li>
    </ul>
    <div th:replace="base::delete"></div>
</div>
<br/>
<div th:replace="base::footer"></div>
</body>
</html>